# Azure Utils Usage

In [21]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Prerequisites:  
- [Install Microsoft ODBC Driver](https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/install-microsoft-odbc-driver-sql-server-macos?view=sql-server-ver17)
- Add your IP Address to the Firewall Rules
  - Login to [Microsoft Azure](https://azure.microsoft.com/en-us/get-started/azure-portal)
  - Click on CodeAndCapitalDB
  - Click Set server firewall
  - Click Add your client IPv4 address and save

In [2]:
import os
import pandas as pd
import sys

In [3]:
sys.path.append(
    os.path.abspath(
        os.path.join(os.path.dirname(os.path.realpath("__file__")), "..", "..")
    )
)

In [4]:
import utils.azure_utils as azure_utils

### 1. Establish a Connection

In [ ]:
username = ""
password = ""

In [ ]:
engine = azure_utils.get_azure_engine(
    server="codeandcapital.database.windows.net",
    database="CodeAndCapitalDB",
    username=username,
    password=password,
)

### 2. Create a New Table

In [6]:
data = {
    "City": ["New York", "London", "Tokyo", "Paris"],
    "Population_Millions": [8.4, 8.9, 13.9, 2.1],
    "Country": ["USA", "UK", "Japan", "France"],
}

df = pd.DataFrame(data)

In [7]:
azure_utils.write_sql_table(
    engine=engine,
    table_name="CityPopulation",
    df=df,
    overwrite=False,
)

### 3. Read from a Table

#### 3.1 Read Without Query

In [8]:
df = azure_utils.read_sql_table(engine=engine, table_name="CityPopulation")

In [9]:
df

       City  Population_Millions Country
0  New York                  8.4     USA
1    London                  8.9      UK
2     Tokyo                 13.9   Japan
3     Paris                  2.1  France

#### 3.2 Read With Query

In [10]:
query = "SELECT * FROM CityPopulation WHERE Country = 'USA';"

df = azure_utils.read_sql_table(engine=engine, query=query)

In [11]:
df

       City  Population_Millions Country
0  New York                  8.4     USA

### 4. Overwrite an Existing Table

In [12]:
data = {
    "City": ["Dallas", "Los Angeles", "Fukuoka", "Sacramento"],
    "Population_Millions": [8.4, 8.9, 13.9, 2.1],
    "Country": ["USA", "USA", "Japan", "USA"],
}

df = pd.DataFrame(data)

In [13]:
azure_utils.write_sql_table(
    engine=engine,
    table_name="CityPopulation",
    df=df,
    overwrite=True,
)

In [14]:
df = azure_utils.read_sql_table(engine=engine, query=query)

In [15]:
df

          City  Population_Millions Country
0       Dallas                  8.4     USA
1  Los Angeles                  8.9     USA
2   Sacramento                  2.1     USA

### 5. Append to an Existing Table

In [16]:
data = {
    "City": ["Corona", "Burbank"],
    "Population_Millions": [8.4, 8.9],
    "Country": ["USA", "USA"],
}

df = pd.DataFrame(data)

In [17]:
azure_utils.write_sql_table(
    engine=engine,
    table_name="CityPopulation",
    df=df,
    overwrite=False,
)

In [18]:
df = azure_utils.read_sql_table(engine=engine, query=query)

In [19]:
df

          City  Population_Millions Country
0       Dallas                  8.4     USA
1  Los Angeles                  8.9     USA
2   Sacramento                  2.1     USA
3       Corona                  8.4     USA
4      Burbank                  8.9     USA

### 6. Delete a Table

In [22]:
azure_utils.execute_sql(engine=engine, sql="DROP TABLE dbo.CityPopulation;")